<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="stylesheet" href="css/style.css" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="csrf-token" content="<%= csrfToken%>">
        <script src="https://cdn.tailwindcss.com"></script>
      </head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2 py-5">
          <div class="border-solid border-2 border-sky-500 py-8 px-10">
            <%- include('header.ejs') %>
            <h6 class="py-4 text-center"><i>Sign-up</i> </h6>
            <form action="/users" method="post">
              <input type="hidden" name="_csrf" value="<%= csrfToken%>">
              <div class="py-3">
                  <label for="firstName"><span class="text-red-600">*</span>First Name : </label>
                  <input type="text" name="firstName" id="firstName" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
              </div>
              <div class="py-3">
                  <label for="lastName">Last Name :</label>
                  <input type="text" name="lastName" id="lastName" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
              </div>
              <div class="py-3">
                  <label for="email"><span class="text-red-600">*</span>Email : </label>
                  <input type="email" name="email" id="email" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
              </div>
              <div class="py-3">
                  <label for="password"><span class="text-red-600">*</span>Password : </label>
                  <input type="password" name="password" placeholder="Password Must Be 8 Characters" class="border border-gray-300 text-gray-900 rounded p-2 w-full">
              </div>
              <p class="py-2 px-2">Already have an Account? <a href="/login" class="text-green-600">Sign-in</a></p>
              <div class="py-3">
                <button type="submit" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2">Sign up</button>
              </div>
              
            </form>
            <% if(messages && messages.error && messages.error.length > 0)  { %>
              <% for(var i=0; i<messages.error.length; i++) { %>
                      <li class="text-red-600"> <%= messages.error[i] %></li>
              <% } %>
            <% } %>
          </div>
        </div>
        </div>
        <%- include('footer.ejs') %>
</body>
</html>