<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Todo Manager</title>
   <link rel="stylesheet" href="css/style.css" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="csrf-token" content="<%= csrfToken%>">
   <script src="https://cdn.tailwindcss.com"></script>
 </head>
 <body>
  <div class="grid grid-cols-6">
    <div class="col-start-3 col-span-2 flex flex-row space-y-2 space-x-20">
      <%- include('header.ejs') %>
      <a href="/signout" class=" block text-red-600 ">Signout</a>
    </div>
  </div>
  <form name="newTodo" class="flex justify-center" action="/todos" method="post" ">
    <input type="hidden" name="_csrf" value="<%= csrfToken%>">
    <div class="flex gap-2 py-4 w-2/3">
      <div class="flex-auto w-64">
        <input type="text" name="title" class="border border-gray-300 text-gray-900 text-sm rounded w-full p-2" placeholder="What's next?" autofocus >
      </div>
      <div class="flex-auto w-32">
        <input type="date" name="dueDate" class="border border-gray-300 text-gray-900 text-sm rounded w-full p-2 leading-4">
      </div>
      <div class="flex-none">
        <button type="submit" class="text-white bg-green-600 hover:bg-green-700 font-medium rounded text-sm px-5 py-2 mr-2 mb-2">Add</button>
      </div>            
    </div>
    <div class="flex flex-col justify-center items-center gap-3 ">
    <% if(messages && messages.error && messages.error.length > 0)  { %>
      <% for(var i=0; i<messages.error.length; i++) { %>
              <li class="text-red-600"> <%= messages.error[i] %></li>
      <% } %>
    <% } %>
    </div>
  </form>
  <%- include('todo.ejs') %>
  <%- include('footer.ejs') %>
   <script src="script.js"></script>
 </body>
</html>
